:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}
.logo-white {
  color: #ffffff;
}

.nav {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}
.nav.current {
  color: var(--accent-color);
}
.info {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.info:hover,
.info:focus {
  color: var(--accent-color);
}
/* Студия */
.hero {
  background-color: #2f303a;
}
.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.andr-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.section-team {
  background: #f5f4fa;
}
/* конец студии */
/* портфолио */
  
.btn-portfolio {
  font-family: Roboto;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background: var(--accent-color);
}

.btn-portfolio.current {
  color: #ffffff;
  background: var(--accent-color);
}

.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.name {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* конец портфолио */
/* Footer */
.footer {
  background-color: #2f303a;
}
.adress {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.adress:hover,
.adress:focus {
  color: var(--accent-color);
}
.info-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.info-footer:hover,
.info-footer:focus {
  color: var(--accent-color);
}
